pkgbase = clifm-git
	pkgdesc = The KISS, non-curses terminal file manager (development version)
	pkgver = 1.1.r346.gec633a5
	pkgrel = 1
	url = https://github.com/leo-arch/clifm
	arch = i686
	arch = pentium4
	arch = x86_64
	arch = arm
	arch = aarch64
	arch = armv7h
	license = GPL2
	makedepends = git
	depends = libcap
	depends = readline
	depends = acl
	depends = file
	optdepends = archivemount: Archives mount
	optdepends = atool: Archives/compression support
	optdepends = p7zip: ISO 9660 support
	optdepends = cdrtools: ISO 9660 support
	provides = clifm
	source = git+https://github.com/leo-arch/clifm.git
	sha256sums = SKIP

pkgname = clifm-git
