[Desktop Entry]
Type=Application
Name=CliFM
Comment=The command line file manager
Icon=clifm
Terminal=true
Exec=clifm
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher
