pkgbase = clifm
	pkgdesc = The KISS file manager: text-based, ultra-lightweight, lightning fast, and written in C
	pkgver = 0.13.2
	pkgrel = 1
	url = https://github.com/leo-arch/clifm
	arch = any
	license = GPL2
	makedepends = git
	depends = glibc
	depends = ncurses
	depends = libcap
	depends = readline
	depends = coreutils
	optdepends = xdg-utils: Automatically open files via their default associated program
	source = git+https://github.com/leo-arch/clifm.git
	sha256sums = SKIP

pkgname = clifm

