pkgbase = clifm-git
	pkgdesc = The KISS file manager: cli-based, ultra-lightweight, and lightning fast (development version)
	pkgver = 1.0.r148.g05714e7
	pkgrel = 1
	url = https://github.com/leo-arch/clifm
	arch = i686
	arch = pentium4
	arch = x86_64
	arch = arm
	arch = aarch64
	arch = armv7h
	license = GPL2
	makedepends = git
	depends = libcap
	depends = readline
	depends = acl
	optdepends = sshfs: SFTP support
	optdepends = cifs-utils: Samba support
	optdepends = curlftpfs: FTPFS support
	optdepends = archivemount: Archives mount
	optdepends = atool: Archives/compression support
	optdepends = p7zip: ISO 9660 support
	optdepends = cdrtools: ISO 9660 support
	provides = clifm
	source = git+https://github.com/leo-arch/clifm.git
	sha256sums = SKIP

pkgname = clifm-git

